.classes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 0;
  }
  
  .class-card {
    background-color: gray;
    border: 1px solid gray;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    transition: all 0.3s ease-in-out;
  }
  
  .class-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .class-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-bottom: .5 rem;
    
  }
  
  .class-link {
    text-decoration: none;
    color: black;
  }